---
layout: archive
header-includes: |
    \usepackage{amsmath,mathtools}
---

<script
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
  type="text/javascript">
</script>

<link rel="stylesheet" type="text/css" href="https://tikzjax.com/v1/fonts.css">
<script src="https://tikzjax.com/v1/tikzjax.js"></script>


{{ content }}

    <style>
        div{
            background-color:#FFFFFF
        }
            
        p{
            font-size: 14px; /* Puedes ajustar el tamaño según tus preferencias */
        }

        /* Estilo para el contenedor principal */
        .contenedor-principal {
            display: flex;
            align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
        }

        /* Estilo para la imagen a la izquierda */
        .imagen-izquierda {
            max-width: 40%; /* Ajusta el tamaño máximo de la imagen al ancho del contenedor */
            margin-right: 20px; /* Espaciado a la derecha de la imagen */
        }

        /* Estilo para el contenido a la derecha de la imagen */
        .contenido-derecha {
            flex-grow: 1; /* Hace que este elemento ocupe todo el espacio restante */
        }
    </style>

<h1> X </h1>
        <p> Con el fin de complementar el curso de álgebra lineal básica, se han desarrollado notebooks interactivos utilizando el lenguaje de programación Julia. Los estudiantes encontrarán en estos recursos herramientas para consolidar su comprensión, explorar ejemplos prácticos y fortalecer sus habilidades de resolución de problemas. La combinación de la teoría del curso con la ejecución práctica en Julia busca potenciar el proceso de aprendizaje, proporcionando una experiencia educativa más completa.</p>
        <p> Se han creado cuadernos que abordan temas como matrices, vectores, independencia lineal, entre otros. Estos cuadernos permiten no solo visualizar la teoría de manera interactiva, sino también explorar diversos ejemplos y aplicaciones prácticas. Algunos de los casos prácticos incluyen el procesamiento de imágenes y la compresión de imágenes, entre otras aplicaciones relevantes. Estos archivos se pueden encontrar y descargar en el repositorio UNBMathCCHub para su libre ejecución.</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[es].recent_posts | default: "¡POST RECIENTES!" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
